body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    position: relative;
    width: 375px; /* Phone width */
    height: 667px; /* Phone height */
    overflow: hidden;
    background: url('/mnt/data/Untitled design (38).png') repeat-y center top;
    background-size: cover;
    animation: scroll-background 2s linear infinite; /* Increased speed */
}

@keyframes scroll-background {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 667px; /* Adjust based on the height of the container */
    }
}

#player {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: url('https://cdn.discordapp.com/attachments/895233277114351627/1253943381965672498/Untitled_design_1.png?ex=6677b147&is=66765fc7&hm=2b85023b1bbc12d8f4a891697171e0605c73a0231e40fdf0f443d7a37a002bdd&') no-repeat center center;
    background-size: contain;
    transform: translate(-50%, 50%);
}

.obstacle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
}

#start-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    display: none;
}
